<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <script src="lib/angular.min.js"></script>
    <script src="js/controllers/chatControllers.js"></script>
    <script src="js/services/chatServices.js"></script>
    <script src="js/directives/chatDirectives.js"></script>
    <script src="js/app.js"></script>
    <script src="js/data.js"></script>
  </head>
  <body ng-app="roboChat" ng-controller="ChatController">
    <h1 class="header">
      <span>WELCOME TO ROBOCHAT, {{nickname}}</span>
    </h1>
    <p class="intro">To change your name, type /nick <span>name</span></p>
    <div class="chat">
      <div class="chatView" scroll-glue>
        <ul>
          <li class="message" ng-repeat="message in messages" ng-switch on="message.isEvent">
            <span ng-switch-when="false">[{{message.date | date:'HH:mm:ss' }}] <span class="user">{{message.user}}</span>: {{message.text}}</span>
            <span ng-switch-when="true">[{{message.date | date:'HH:mm:ss' }}] <span class="events" >{{message.text}}</span></span>
          </li>
        </ul>
      </div>
      <form class="input" ng-submit="submit()">
        <input class="inputField" type="text" size="50" ng-model="message">
      </form>
    </div
  </body>
  <div ng-controller="DummyController"></div>
</html>
